/* img nav container section start*/
.imgNavContainer {
    top: 50px;
}

/* img nav container section end*/

/* image grid container section start*/
.navNull {
    height: 50px;
}

.bodySection {
    padding-top: 20px;
}
/* image grid container section end*/